@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Moderustic", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #e4e4e4;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}



footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 0.5rem;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}


.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.news-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: calc(50% - 0.5rem);
    padding: 1rem;
    box-sizing: border-box;
}

.news-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #666;
}

.news-date {
    font-weight: bold;
}

.news-author {
    font-style: italic;
}

.news-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news-summary {
    font-size: 0.9rem;
    color: #555;
}


.tick{
    display: inline-flex;
    padding: 8px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 16px 0px 16px 0px;
    border-radius: 50px;
    border: 1px solid #000000;
    background: #cacaca;

    h2{
            color: #000000;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            font-weight: 600;
    }
}

