@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Nunito", sans-serif;
}
.bg-azul{
    border-radius: 30px;
    background-color: #ddeeff;
}

.slide{
    width: 1200px;
    height: 650px;
    position: relative;
    margin: auto;
    display: table;
    font-size: 18px;
}

.slide h1 div{
    margin-top: -50px;
}
.slide h1{
    font-size: 92px;
    font-style: italic;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    padding-top:200px ;
    width:80% ;
    padding-left: 20px;

    position: relative;

    background: url(img/recurso.png);
    background-repeat: no-repeat;
    background-position: 0 190px;
}
.slide .sub-titulo{
    position: absolute;
    left:100px;
    bottom:110px;
    font-style: italic;
    font-weight: normal;
}
.slide h1 img{
    position:absolute;
    top: 50px;
    right: 180px;
}

.slide h1 div:nth-child(2){
    padding-left: 30px;
}

.slide h1 div:nth-child(3){
    text-align: right;
    
}

.slide .logo{
    position: absolute;
    bottom: 45px;
    left: 60px ;
}
.links .logo{
    position: absolute;
    bottom:30px;
    right: 100px;
}

.links{
    position: absolute;
    bottom: 40px;
    left: 1000px;
}