.sidebarleft {
    width: 240px;
    padding: 32px;
    border-radius: 20px;
    background:  #FFF;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
    
}
.sectiontop {
    display: flex;
    width: 146px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.Principal {
    flex: 1 0 0;
    color: #3F3F3F;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.menu ul li{
    display: flex;
    padding: 8px 0px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    margin-left: -20px;
}
.menu ul li a{
    text-decoration: 0;
    margin-left: -5px;
}

.menu ul li a{
    color: #000000;
}
.trocarcor:hover a{
    color: #2F80ED;
    font-weight: 700;
}
.menu .icon1{
    background-image: url(../img/home2.png);
    background-repeat: no-repeat;
    background-position: 40%;
    padding: 10px;
    margin-left: -20px;
}
.trocarcor:hover .icon1{
    background-image: url(../img/home.svg);
    background-repeat: no-repeat;
    background-position: 40%;
    padding: 10px;
    margin-left: -20px;
}
.menu .icon2{
    background-image: url(../img/noti.svg);
    background-repeat: no-repeat;
    background-position: 40%;
    padding: 10px;
    margin-left: -20px;
}
.trocarcor:hover .icon2{
    background-image: url(../img/noti2.png);
    background-repeat: no-repeat;
    background-position: 40%;
    padding: 10px;
    margin-left: -20px;
}
.menu .icon3{
    background-image: url(../img/esporte.svg);
    background-repeat: no-repeat;
    background-position: 40%;
    padding: 10px;
    margin-left: -20px;
}
.trocarcor:hover .icon3{
    background-image: url(../img/esporte2.png);
    background-repeat: no-repeat;
    background-position: 40%;
    padding: 10px;
    margin-left: -20px;
}
.menu .icon4{
    background-image: url(../img/tarefa.svg);
    background-repeat: no-repeat;
    background-position: 40%;
    padding: 10px;
    margin-left: -20px;
}
.trocarcor:hover .icon4{
    background-image: url(../img/tarefa2.png);
    background-repeat: no-repeat;
    background-position: 40%;
    padding: 10px;
    margin-left: -20px;
}
.menu .icon5{
    background-image: url(../img/cursos.svg);
    background-repeat: no-repeat;
    background-position: 40%;
    padding: 10px;
    margin-left: -20px;
}
.trocarcor:hover .icon5{
    background-image: url(../img/curso.png);
    background-repeat: no-repeat;
    background-position: 40%;
    padding: 10px;
    margin-left: -20px;
}

.seus-amigos{
    color: #3F3F3F;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
}
.Frame-16{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    flex-direction: column;
    padding: 15px;
}
.Esporte{
    color: var(--color-gray-100, #202020);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    align-self: stretch;
}
.Local-hora{
    color: #7E7E7E;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    align-self: stretch;
}
.namedestination .prashant-502-2{
    background-image: url(../img/daniel.png);
    background-repeat: no-repeat;
    padding: 30px;
    margin-left: -40px;
    margin-top: 25px;
}
.namedestination:nth-child(2) .prashant-502-2{
    background-image: url(../img/dani.png);
    background-repeat: no-repeat;
    padding: 30px;
    margin-left: -40px;
    margin-top: 25px;
}
.namedestination:nth-child(3) .prashant-502-2{
    background-image: url(../img/félix.png);
    background-repeat: no-repeat;
    padding: 30px;
    margin-left: -40px;
    margin-top: 25px;
}
.namedestination div:nth-child(2){
    margin-top: -65px;
    margin-left: -10px;
}
.namedestination{
    margin-left: 20px;
}
.namedestination:nth-child(2){
    margin-left: -1px;
}
.namedestination:nth-child(3){
    margin-left: -2px;
}

.sectiondown{
    display: flex;
    width: 146px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 240px;
}
.text{
    flex: 1 0 0;
    color: var(--color-gray-90, #3F3F3F);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0px;
    gap: 10px;
}
.btn{
    margin-left: 25px;
    padding: 8px 0px;
    gap: 12px;
}
.btn:nth-child(2) a{
    text-decoration: none;
    flex: 1 0 0;
    color: var(--color-gray-100, #202020);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}
.btn:nth-child(3) a{
    text-decoration: none;
    flex: 1 0 0;
    color: #F13E3E;
    font-size: 16px;
    font-weight: 500;
}
.btn:nth-child(2) div{
    background-image: url(../img/confi.svg);
    background-repeat: no-repeat;
    padding: 8px;
    margin-left: -25px;
    margin-top: -18px;
}
.btn:nth-child(3) div{
    background-image: url(../img/sair.svg);
    background-repeat: no-repeat;
    padding: 8px;
    margin-left: -25px;
    margin-top: -18px;
}
