body{
    font-family: Inter;
}
.pesquisa{
    display: flex;
    width: 270px;
    padding: 6px;
    padding-top: 7px;
    color: #cccccc;

    border-radius: 50px;
    border: solid 1px;
    border-color: #cccccc;

    background-image: url(../imgs/search-normal.svg);
    background-repeat: no-repeat;
    background-position: left 6px top 6px;
    background-size: 15px 15px;
}