
body {
    font-family: 'Lato', sans-serif;
    background: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    
}

.container {
    width: 450px;
    height: 600px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
   
}

.tag-as{
    padding: 2px 7px 4px 7px;
    color: #FAFAFA;
    border-radius: 50px;
    background: var(--Gray-3, #828282);
    border: none;
    font-size: 10px;
}

.tag{
    padding: 2px 7px 4px 7px;
    border-radius: 50px;
    background: var(--Blue-2, #2D9CDB);
    border: none;
    color: #FAFAFA;
    font-size: 10px;
    
}

.tag-css{
    padding: 2px 7px 4px 7px;
    border-radius: 50px;
    background: #FFC460;
    border: none;
    font-size: 10px;
}

h1{
    color: #333;
    font-family: "Paytone One";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

hr{
    border: none;
    height: 1px; 
    background-color: #4F4F4F;
}

.obj h2 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: "Paytone One", sans-serif;
}

.obj p{
    color: #727272;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.conteudo h2{
    color: #000;
    font-family: "Paytone One";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;   
}

.conteudo ul{
    color: #828282;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.list{
    padding-left: 16px;
    border-radius: 10px;
    border: 1px solid var(--Gray-4, #BDBDBD);
    background: var(--gradiente, linear-gradient(105deg, rgba(196, 196, 196, 0.04) 1.21%, rgba(178, 178, 178, 0.15) 97.68%));  
}

.list p{
    color: #727272;
    font-family: "Space Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: -0.24px;
}

.img{
    display: flex;
    justify-content: flex-end; 
    padding-top: 40px;
}