.combined-background{
    height: 600px;
    background: pink url(https://t2.gstatic.com/licensed-image?q=tbn:ANd9GcRwPMSqM0ilt8s2a2y1-NZH77zhtAj0er-mWkf6GbQtnfeS_MVioS7y-M_8xCN1_xLh);
    padding: 20px;
    border-radius: 25px;
    color: pink;

}

