.background-image{
    height: 200px;
    color: blueviolet;
    background-image: url(https://cdns-images.dzcdn.net/images/cover/4d0dfaf6d522f5323aebcc85903d92ac/1900x1900-000000-80-0-0.jpg);
    padding: 200px;
}

