body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;




    display: flex;
}

.container{
    background: #f1f1f1;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
    width: 450px;
    height: 600px;
}


.top .ast{
    color: #ffffff;
    background-color: #828282;
    border-radius: 10px;
    border: none;
}


.top .inter{
    color: #ffffff;
    background: #2D9CDB;
    border-radius: 10px;
    border: none;
}


.top .css{
    color: #ffffff;
    background: #FFC460;
    border-radius: 10px;
    border: none;
}


.list{
    background-color: #dbdbdb;
    color: #727272;
    letter-spacing: 0.2em;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    border-radius: 10px;
   
}

ul