body{

    background-color:dimgrey;
    color: white;
}

.combined-background-um{

    background-color: blue;
    color: white;
}

.combined-background-dois{

    background-color: red;
    color: white;
}

.combined-background-três{

    background-color: yellow;
    color: white;
}