body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #F1F1F1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 450px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header .subject {
    background-color: #302e25;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid #625f5f;
}

h2 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #727272;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 18px;
}

ul li {
    font-size: 14px;
    color: #727272;
    margin-bottom: 5px;
}

.code-box {
    background-color: #f0f0f0;
    padding: 12px;
    border-radius: 6px;
    font-family: monospace;
}

.code-box {
    border: 1px solid #828282;
    padding: 18px 16px;
    border-radius: 10px;
    background-color: #C4C4C409;
    margin: 0 auto;
    box-sizing: border-box;
}

.code-box p {
    margin: 5px 0;
    font-size: 12px;
    color: #727272;
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.borders {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.border-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', monospace;
    font-size: 12px;
    padding: 2px 7px 4px 7px;
    height: 16px;
    border-radius: 50px;
    opacity: 1;
}

.first-border {
    width: 19px;
    background-color: #828282;
    color: white;
}

.second-border {
    width: 73px;
    background-color: #2D9CDB;
    color: white;
}

.third-border {
    width: 28px;
    background-color: #FFC460;
    color: #1D1D1B;
}