input {
    background-repeat: no-repeat;
    background-position: 10px center;
}

.pesquisa {
    padding-left: 30px;
    padding: 15px;
    width: 100%;
    border-radius: 7px;
    border: rgba(204, 204, 204, 0.08) 1px solid;
  
}