body {
    font-family: "Roboto";
    font-weight: 300;
    background-color: #AAAAAA;
}

.card {
    border-bottom: 1px solid;
    background-color: #FFFFFF;
    display: flex;
}

h2 {
    margin-top: px;
    margin-bottom: 0;
}

h3 {
    margin: 0;
}

p {
    margin-top: 0;
}

.card figure {
    float: left;
    margin-right: 10px; 
}

.card figure img {
    width: 128px;
}

.card .container-button {
    text-align: right;
    width: 97%;
    margin-top: auto;
}

.card .container-button button {
    background-color: #21ABC7;
    border: #21ABC7;
    color: #FFFFFF;
    height: 30px;
    width: 90px;
}