.card{
  border-bottom: 1px solid #AAA;
}
.card .left{
 float: left;
 margin: 0;
}
.card figure img{
  width: 100px;  
}
.card .container-button{
  text-align: right;  
}
.card .container-button button{
  background: #000;
  color: #fff;
  border: 0;
}
.card .h3 .left .right{
    margin: 0;
}