body{
    font-family: "Roboto Slab", sans-serif;
}
.card{
float: left;
    display: table;
    width: 30%;
}
.card figure{
    margin: 0;
    float: left;
}
.card figure img{
    width: 30%;
}
.card p{
    width: 70%;
}