body{
    font-family: Inter;
}
.card{
    display: flex;
    float: left;
    width: 30%;
    padding: 10px;
}
.card .img{
    margin: 10%;
    float: left;
}
h1{
    margin-bottom: 30px;
}

.p{
    margin-left: 15%;
}