@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    font-family: "Inconsolata", monospace
}
h1{
    color:#AAA;
    text-align: center;
}
.card{
    border-bottom: 1px solid #AAA;
    margin-top: 10px;
}
.card figure{
    float: left;
    margin: 0;
    margin-right: 5px;
}
.card figure img{
    width: 100px;
}

.card .container-button{
    text-align: right;
    margin-bottom: 20px;
}

.card .container-button button{
    background: #21ABC7;
    padding: 10px;
    color: #fff;
    border: 0;
}