@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: rgb(180, 180, 180);
}

img{
    align-items: center;
}

h1 {
    text-align: center;
    padding: 30px;
    font-weight: 400;
    color: gray;
    margin-bottom: 10px;
}

small {
    display: block;
    font-weight: 500;
    color: gray;
}

h3 {
    color: rgb(53, 139, 160);
    margin: 0;
}

.card {
    padding: 30px;
    background-color: white;
    border: 2px solid #f0f0f0;
    width: 700px;
    margin: 20px auto;
    display: table;
    border-bottom: 3px solid #AAA;
}

.card figure {
    float: left;
    margin: 20px 10px 0 0;
}

.card figure img {
    width: 100px;
    padding: 10px;
}

.botao {
    text-align: right;
}

.botao button {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    background: #438fbb;
    color: white;
    border: none;
}
