body{
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}
section{
    background: #fece31;
    padding: 100px;
}
section h1{
    color: white;
    font-size: 40px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 20px;
}
section small{
    display: block;
    margin-top: 8px;
}
section em{
    width: 300px;
    display: inline-block;
}
ul{
    padding: 0;
    list-style: none;
    margin: 8px;
    display: flex;
    justify-content: space-between;
}
div{
    width: 60%;
    display: inline-block;
}
ul li{
    background: #fff;
    width: 33%;
    text-align: center;
}
ul li h2{
    display: flex;
    justify-content: center;
    margin: 5px;
    font-weight: 400;
    font-size: 33px;
}
ul li figure{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;
}
ul .chrome figure{
    background:#f70c2a;
}
ul .search figure{
    background: #006EEB;
}
ul .maps figure{
    background: #14982d;
}
ul .chrome a, .chrome h2{
    color: #f70c2a;
}
ul .search a, h2{
    color: #006EEB;
}
ul .maps h2, a{
    color: #14982d;
}
