body{
    font-family: "Inter", sans-serif;
    background: #F5F5F5;
}

.card{
    width:350px;
    height:205px;
    padding:24px;
    background: #FFFF;
    border-radius: 28px;
}

.card .card-head{
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
    border-radius: 10px;
    background: white;
}

.card .card-label{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 18px;
}

.badge{
    color: #505780;
    background: #E4ECf7;
    border-radius: 6px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;   
    margin-right: 6px;
}

.badge-principal{
    color: #FFFF;
    background: #4C6FFF;
}

.P{
    margin-bottom: 24px;
    color: #425466;
}

.drive{
    display: block;
    background: #E4ECF7;
    border-radius: 13px; 
    padding: 10px ;
    width: 25px;
    margin-bottom: 10px;
}

.processo-area{
    background: #E4ECF7;
    display: inline-block;
    width: 35%;
}

.card-head{
    margin-bottom: 17px
}

.info span{
    color: #84859E;
    margin-right: 1px;
}

.info span:last-child{
    margin-left: 240px;
}

.card .span{
    display: inline-block;
}
