body{
    font-family: "Inter", sans-serif;
    background: #F5F5F5;
}

.card{
    border-radius: 16px;
    width: 350px;
    height: 205px;
    padding: 24px;
    background: #FFFFFF;
}

.card .card-head{
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.card-label{
    margin-top: 5px;
}

.badge{
    background: #e4ecf7;
    border-radius: 6px;
    font-weight:500;
    padding: 3px 8px;
    color: #505780;
    display: inline-block;
    text-decoration: none;
    margin-top: 5px ;
}

.badge-principal{
    background: #4C6FFF;
    color: #FFFFFF;
}
 
p{
    color: #425466;
    margin-top: 24px ;
}

.progress-bar{
    width: 305px;
    height: 8px;
    background: #E4ECF7 ;
    border-radius: 20px;
}

.progress{
    width: 240.169px;
    height: 8px;
    background: #4C6FFF;
    border-radius: 20px;
}

span.ponto{
    width: 4px;
    height: 4px;
    background: #425466;
    border-radius: 50% ;
    display: inline-block;
}
 .config{
    margin-left: 310px;
}
 
.drive{
    background: #E4ECF7;
    text-align: center;
    width: 48px;
    height: 48px;
    border-radius: 25%;
    
    
}
img{
    padding: 10px;
}

.info {
    color: #84859E;
    margin-top: 60px ;
    font-size: 14px;
    margin-top: 58px;
    margin-bottom: 10px;
    
}

.Head-card {
    font-size: 18px;
    margin-top: 21px;
}

.GB{
    display: inline-block;
    margin-left: 200px;
}
