
.card1{
    background-color: #fff;
    display: flex;
    padding: 12px;
    width: 271px;
    height: 40px;
    border-radius: 8px;
    gap: 8px;
    margin-bottom: 30px;
}

.card1 strong{
    color: #2667BF;
    font-size: 12px;
    font-weight: 700;
}

.card1 div div{
    font-size: 12px;
    font-weight: 600;
    color: #202020;
}

.card1 span{
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    font-size: 40px;
    margin-left: 150px;
    margin-top: 6px;
}

.card1 .cinzapeso600{
    color: #5F5F5F;
    font-weight: 600;
}

.card1 .cinzapeso400{
    color: #5F5F5F;
    font-weight: 400;
}
