.left{
    background-color: #fff;
    width: 240px;
    padding: 32px;
    align-self: stretch;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.left .top{
    gap: 48px;
    
}


.left .top .menu-principal h2{
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px 0;
}

.top .menu-principal menu{
    margin: 0;
    padding: 0;
    gap: 8px;
}

.top .menu-principal menu li{
    list-style: none;
    color: #202020;
    gap: 12px;
    padding: 8px 0;
}

.top .menu-principal menu a{
    text-decoration: none;
    
    
}

.left .top .seus-amigos{
    gap: 20px;
}

.left .top .seus-amigos h2{
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px 0;
}

.left .top .seus-amigos img{
    width: 30px;
    height: 30px;
}

.left .top .seus-amigos .amigo{
    gap: 8px;
}

.top .seus-amigos .amigo-info a{
    text-decoration: none;
    font-weight: 600;
    color: #202020;
}

.top .seus-amigos .amigo-info span{
    color: #7E7E7E;
    font-size: 12px;
}
    


