@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", sans-serif;
}

.bg-azul {
    background-color: #E7F3FF;
}

.slide {
    width: 1200px;
    height: 650px;
    margin: auto;
    position: relative;
}

.slide h1 {
    font-size: 92px;
    font-style: italic;
    font-weight: normal;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-left: 20px;

    position: relative;

    background: url(Imagens/recurso.png);
    background-repeat: no-repeat;
    background-position: 0 190px;
}

.slide h1 img {
    position: absolute;
    top: 50px;
    right: 180px;
}

.slide h1 div {
    margin-top: -50px;
}

.slide h1 div:nth-child(2) {
    padding-left: 36px;
}

.slide h1 div:nth-child(3){
    text-align: right;
}

.slide .logo {
    position: absolute;
    bottom: 60px;
    left: 100px;
}

.links {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.slide-2 {
    width: 900px;
    height: 600px;
    margin: auto;
    position: relative;
}

.slide-2 h2 {
    font-size: 40px;
    font-style: italic;
    font-weight: normal;
    padding-top: 100px;
}

.slide-2 ol {
    padding-left: 20px;
}

.slide-2 ol li {
    margin-bottom: 10px;
}

.descricao img {
    float: left;
    height: 16px;
}

.descricao { 
    padding-left: 3px;
    margin-top: 40px;
    position: relative;
}
.descricao .descricao-1 {
    margin-bottom: 10px;
}

.imagem {
    background-color: #E7F3FF;
    left: 550px;
    top: 0px;
    height: 590px;
    width: 560px;
    float: right;
    position: absolute;
    border-radius: 30px;
}

.imagem .logo-figma {
    padding-top: 150px;
    padding-left: 150px;
}

.link {

}