.jogos-interesse{}
.jogos-interesse .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.jogos-interesse .container-jogos{
    border-radius: 6px;
    background: #FFF;
    padding: 20px 24px;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}
.jogos-interesse .jogos{
    width: 100%;
}
.jogos-interesse .jogos .jogos-title{
    text-align: left;
}
.jogos-interesse .jogos .conteudo span{
    color: #2667BF;
    background: #BFDAFF40;
    border-radius: 8px;
    background-position: 12%;
}
.jogos-interesse .jogos .jogo{
    display: flex;
}
.jogos-interesse .jogos .info{
    display: flex;
    flex-direction: column;
}