body{
    font-family: "Inter", serif;
}
.pesquisa{
    background-image: url(img/pesquisa.png);
    background-repeat:  no-repeat;
    background-position: 20px 16px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 16px;
    padding-left: 42px;
    width: 100%;
    font-size: 14px;
}
.right{
    float: right;
}