body{
    font-family: Inter;
}

header{
    height: 88px;
    background: #F2F2F2;
}

.alinhar{
    align-items: center;
}

.espaçar{
    margin-left: 60px;
}

.flex{
    display: flex;
}

header nav{
    margin-left: auto;
    margin-right: 123px;
}

menu{
    gap: 25px;
    list-style: none; 
}

menu a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;  
}

.breadcrumb{
    gap: 10px;
    margin-top: 32px;
    margin-bottom: 14px;
}

.breadcrumb a{
    text-decoration: none;
    color: #3C4858;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.breadcrumb span{
    color:#8A9399;
    font-size: 16px;
    font-style: normal;
    font-weight: 300; 
}

main header{
    background: #222;
    height: 160px;
    flex-direction: column;
}

main header h1{
    color: #F9FAFC;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

main header small{
    color:#E5E9F2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.filtros a{
    display: inline-flex;
    padding: 5px 10px;
    border: 1px solid  #8A9399;
    color: #8A9399;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin: 20px 5px 0 0;
}

.filtros a:hover{
    background-color: lightgray; 
}

.conteudo h2{
    color: #1F2D3D;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
}

.conteudo h2 small{
    color: #8A9399;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 21px;
}

.livros{
    list-style-type: none;
    border-radius: 5px;
    border: 0.5px solid  #8A9399;
    padding: 20px;
    display: inline-block;
    width: 30%;
    width: 384px;
    height: 240px;
}

.editora, .editora + div a{
    color: #8A9399;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.livros strong{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.Autor{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    margin: 10px 0;
}

.livro figure{
    margin: 0;
}

.livro figure a{
    color: #2F80ED;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.right{    
    padding-left: 20px; 
}

footer{
    text-align: center;
}

