body{
    font-family: Inter;
}

header{
    height: 88px;
    background: var(--Gray-6, #F2F2F2);
    display: flex;
    align-items: center;
}

header figure{
    margin: 0; 
}

header  img{
    width: 111.325px;
    height: 29.886px;
    margin: 0;
    margin-left: 60px;

}

header nav{
    margin-left: auto;
    margin-right: 123px;
}

header nav menu{
    display: flex; 
    gap: 25px;
    list-style: none; 
}

header nav menu a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;  
}

main .breadcrumb{
    margin-left: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 32px;
    margin-bottom: 14px;
}

main .breadcrumb a{
    text-decoration: none;
    color: var(--dark-silver, #3C4858);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

main .breadcrumb span{
    color: var(--dark-gray, #8A9399);
    font-size: 16px;
    font-style: normal;
    font-weight: 300; 
}

main header{
    background: var(--dark-black, #222);
    height: 160px;
    flex-direction: column;
    align-items: flex-start;
}

main header h1{
    color: var(--extra-light-snow, #F9FAFC);
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-left: 60px;
}

main header small{
    color: var(--extra-light-snow-extra-dark, #E5E9F2);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 60px;
}

main .filtros{
    margin-left: 60px;
}

main .filtros a{
    display: inline-flex;
    padding: 5px 10px;
    border: 1px solid var(--dark-gray, #8A9399);
    color: var(--dark-gray, #8A9399);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 5px;
}

main .filtros a:hover{
    background-color: lightgray; 
}

main .conteudo {
    margin-left: 60px;
}


main .conteudo h2{
    color: var(--dark-black-2, #1F2D3D);
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
}

main .conteudo h2 small{
    color: var(--dark-gray, #8A9399);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 21px;
}



main .livros{
    list-style-type: none;
    width: 384px;
    border-radius: 5px;
    border: 0.5px solid var(--dark-gray, #8A9399);
    padding: 20px;
    display: inline-block;
}


main .livros .livro{
    display: flex;
    color: var(--dark-gray, #8A9399);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

main .livros strong{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}


main .livros .livro .Autor{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

main .livros .livro figure{
    margin: 0;
}

main .livros .livro figure a{
    color: var(--Blue-1, #2F80ED);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: flex; 
    align-items: center; 

}

main .livros .livro .right{    
    padding-left: 20px; 

}

.livro div:nth-of-type(3) {
    margin-top: 10px;
}

main .livros .livro .right a{
    color: var(--dark-gray, #8A9399);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}

footer{
    text-align: center;
}

