@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/**
*** ELMENTOS GLOBAIS
*/

body{
    font-family: Inter;
    margin: 0;
    background-color: #FFF;
}

/** 
AQUI SERÁ SOMENTE A FORMATACAO DA HEADER
******/

header{
    background: #F2F2F2;
    height: 88px;
}
header img{
    padding: 30px 0px 30px;
}

header nav menu{
    list-style: none;
    gap: 40px;
}
header nav menu a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

/** Seção principal de conteúdo */

main .breadcrumb{
    padding: 24px 0 24px;
}
main .breadcrumb a{
    text-decoration: none;
    color: #3C4858;
}
main .breadcrumb span{
    color: #8A9399;
    margin-left: 6px;
}

main header{
    background-color: #222222;
    height: 160px;  
}
main header h1{
    color: #FFF;
    font-size: 40px;
}
main header small{
    color: #E5E9F2;
    font-size: 16px;
}

main .filtros{
    padding-top: 20px;
}
main .filtros a{
    border: 1px solid;
    color: #8A9399;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
}
main .filtros a:hover{
    background-color: #2F80ED;
    color: #FFF;
}

main .conteudo{
    margin-top: 64px;
    margin-left: 58px;
}
main .conteudo h2{
    font-size: 26px;
    color: #1F2D3D;
}
main .conteudo h2 small{    
    color: #8A9399;
    font-size: 16px;
    font-weight: normal;
    margin-left: 20px;    
}

.livros{
    flex-wrap: wrap;
    list-style: none;
    margin-top: 32px;
    padding: 0;
    margin-top: -31px;
    margin-left: -23px;
}
.livros .livro{
    border: 1px solid #8A9399;
    padding: 15px 18px;
    border-radius: 5px;
    width: 380px;
    height: 240px;
    margin-top: 41px;
    margin-left: 23px;
}
.livros .livro figure{
    margin-left: 5px;
}
.livros figure a{
    color: #2F80ED;
    font-size: 14px;
    text-decoration: 0;
}
.livros .livro .right div{
    line-height: 26px;
}
.livros .livro .right strong{
    font-size: 16px;
}
.livros .livro .right div:nth-child(3),
.livros .livro .right a{
    color: #8A9399;
    font-size: 14px;
}
.livros .livro .right a:nth-child(3), a:nth-child(2){
    margin-left: 8px;
}

footer {
    text-align: center;
    margin-top: 154px;
    background: #F9FAFC;
    height: 52px;
}
footer img{
    margin-top: 15px;
}