
body{
    font-family: inter;
    
}

.banner{
    background-color: #2F80ED;
    border-radius: 10px;
    padding: 20px;
    color: white;
    margin-top: 10px;
    padding: 20px 24px;
    background-image: url(/semadec/imgs/Vector.png);
    background-repeat: no-repeat;    
    background-position: right center;
    width: 840px;
}

.banner h1{
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 80%;
}

.banner small{
    text-transform: uppercase;
}

.banner a{
    display: inline-block;
    font-size: 14px;
    font-weight: 400px;
    border-radius: 40px;
    padding: 8px 12px;
    color: #ffffff;
    text-decoration: none;
    background: #202020 no-repeat center right;
    background-image: url(/semadec/imgs/btn\ \(1\).png);
    padding-right: 44px;
}
