.section1{
    background-image: url(img/water-2600008_1920.jpg);
    background-repeat: no-repeat;
}
.section2{
    background-image: url(img/stars-8908843_1920.jpg);
    background-repeat: no-repeat;
}
.section3{
    background-image: url(img/seeds-7869190_1920.jpg);
    background-repeat: no-repeat;
}
.section4{
    background-image: url(img/seagull-8320687_1920.jpg);
    background-repeat: no-repeat;
}
.section5{
    background-image: url(img/seagull-5289474_1920.jpg);
    background-repeat: no-repeat;
}
.section6{
    background-image: url(img/penguin-8875750_1920.jpg);
    background-repeat: no-repeat;
}
.section7{
    background-image: url(img/gull-4349143_1920.jpg);
    background-repeat: no-repeat;
}
.section8{
    background-image: url(img/girl-8880144_1920.png);
    background-repeat: no-repeat;
}
