body{
    background-color: black;
}
.combined-background{
    background-image: url(https://wallpapers.com/images/hd/haikyuu-karasuno-team-poster-u5uadgtpzp2g1cgm.jpg);
    background-repeat: no-repeat;
    background-size: 600px;
    height: 2000px;
    width: 2000px;
}

h1{
    color: rgb(243, 138, 0);
    margin-left: 70px;
    text-align: left;
}
