body{
    margin: 0;
    padding: 0;
}
section{
    margin-top: 20px;
    display: inline-block;
    height: 250px;
    width: 250px;
}
.box1{
    border-radius: 60px;
    background-color: #FF69B4;
    margin-left: 50px;
}
.box2{
    border-radius: 60px;
    background-color: #FF1493;
    margin-left: 50px;
}
.box3{
    border-radius: 60px;
    background-color: #C71585;
    margin-left: 50px;
}