section{
    width: 100%;
    height: 400px;
   }

.combined-background{
    background-color: aqua;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    
}



   