.background-img{
    background-image: url(https://portal.ifrn.edu.br/media/images/43908_Professor_tem_capitulo_de_livro_publicad.width-500.png);
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
   margin: 0 auto;
}