.background-image {
    background-color: #FEE567;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    background-color: #85D7FC;
}

.box2 {
    background-color: #72C16E;
}

.box3 {
    background-color: #EFC19C;
}