.box1{
    background-color: blue;
    height: 300px;
    width: 300px;
    margin: auto;  
} 
.box2{
    background-color: red;
    height: 300px;
    width: 300px;
    margin: auto;
}
.box3{
    background-color: yellow;
    height: 300px;
    width: 300px;
    margin: auto;
}