.card-um{

    background-color:black;
    color: white;
}

.card-dois{

    background-color: gray;
    color: white;
}

.card-três{

    background-color: red;
    color: white;
}
   
.contato{

    background-color: purple;
    color:white
}