.banner{
    box-sizing:border-box;
    position:relative;
    height: 180px;
    width: 100%;

    padding: 40px 30px; 

    background: #2f80ed;
    background-image: url('../img/background.svg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: 32%;
    border-radius:40px;
    color: white;


}

.banner small {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;

}

.banner h1{
    font-size: 15px;
    font-weight: 500;
    width:70%;

}

.banner a{
    text-decoration:none;
    color: white;
    font-size: 10px;

    background-color: black;
    padding: 10px 20px;

    border-radius: 40px;

}

.banner a img{
    height: 20px;
    position:relative;
    top:4%;
    
    margin-left: 20px;

}
