.banner{
    color: #FFF;
    background: #2F80ED;
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    width: calc(100% - 20px);
}

.banner small{
    font-size: 12px;
    text-transform: uppercase;
}

.banner h1{
    font-size: 20px;
    max-width:70%;
    margin-bottom: 16px;
    margin-top: 16px;
}
.banner a{
    background: #202020 no-repeat;
    background-image: url(../img/play.svg);
    background-position: 95% center;
    border-radius: 40px;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
    padding-right: 44px;
    text-decoration: none;
}
