
.cards-1{
    margin-top:20px;
}
.card-1{
    display:flex;

    border-radius: 8px;
    background: #FFF;
    height:44px;

    /* Cards/Long Default */
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
    padding:10px;
    align-items: center;

    width:30%
}

.card-1 .left{
    height:100%;
}

.card-1 .left div:first-child{
    display: flex;
    gap:10px;
}

.card-1 .left div {
    color: #5F5F5F;
    align-items: center;

}

.card-1 .left span{
    margin-right:30px;
    height:100%;

}

.card-1 .left span button{
    border:none;
    border-radius: 100%;

    background-color: rgba(191, 218, 255, 0.25);
    background-image: url(../img/notifications-light.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 13px 13px;

    padding : 10px;
    width:43px;
    height:100%;
}
.card-1 .left div strong{
    font-size: 15px;
}

.card-1:first-child .left div strong{
    color: #2667BF;
    font-weight:700;

}

.card-1:first-child .left div{
    color:black;
    font-weight: 600;
    font-size:15px;

}

.card-1:first-child .left span button{
    background-color: #2667BF;
    background-image: url(../img/notifications.svg);

}

.card-1 a{
    margin-left: 20%;
    text-align:right;
}

.card-1 a img{
    box-sizing: border-box;
    height: 30px;
}

