@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", serif;
}

.container-principal{
    max-width: 55%;
    padding:40px;

}

.barra-lateral{
    width:15%;

}

.flex{
    display: flex;
}

.alinhar-h-bordas{
    justify-content: space-between;
}
.alinhar-v-centro{
    align-items: center;
}
.alinhar-coluna{
    flex-direction: column;
}