.jogos-interesse .container-jogos{
    border-radius: 6px;
    background: #fff;
    padding: 20px 24px;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.jogos-interesse .jogos{
    width:100%;
}

.jogos-interesse .jogos div img{
    width:30px;
    border-radius: 200%;
    align-items:center;

}

.jogos-interesse .jogos .jogos-title{
    text-align: left;

}


.jogos-interesse .jogos .tag{
    font-size: 12px;
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    border-radius: 24px;
    background: rgba(191, 218, 255, 0.25);
    color: #2F80ED;
    text-decoration:none;

}




