.barra-lateral-esquerda .abas{
    gap:10px;
}

.barra-lateral-esquerda .abas a{
    text-decoration:none;
    color: black;
    transition: all 0.2s;
}

.barra-lateral-esquerda .abas a svg .icon-hover{
    stroke:black;
    stroke-width:1.333px;
    transition: all 0.2s;
}

.barra-lateral-esquerda .abas a:hover .icon-hover{
    stroke:#2F80ED;
}

.barra-lateral-esquerda .abas a:hover{
    color:#2F80ED;
}

