body{
    font-family:"Inter Tight", sans-serif;
    margin:0;
}

a{
    text-decoration:none;

}

/** 
AQUI SERÁ SOMENTE A FORMATACAO DA HEADER
******/

header {
    width:100%;
    background: #F2F2F2;
    padding:20px;

}

header div {
    width:2400px;
    margin-right:20px;
}

header nav{
    margin-right:20px;
    text-transform: uppercase;
}
header nav menu{
    list-style:none;
    gap:16px;
}
header nav menu li{}
header nav menu a{
    text-decoration:none;
    color: black;
    font-weight:300;

}

/** Seção principal de conteúdo */

main{}
main .breadcrumb{
    margin-left:20px;
    padding:20px;
    gap:15px;
}
main .breadcrumb a{
    font-weight: 200;
    color: black;
}
main .breadcrumb span{
    color:#8A9399;
}

main header{
    color:white;
    background-color:black;
}

main .filtros{
    
}
main .filtros a{
    color:#8A9399;
    
}
main .filtros a:hover{}

main .conteudo{}
main .conteudo h2{}
main .conteudo h2 small{}

.livros{}
.livros .livro{
    list-style:none;
}
.livros .livro figure{}
.livros .livro .right div:nth-child(3), .livros .livro .right a{
    color:#8A9399;

}


footer{
    text-align: center;
}
