@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0%;
}
.header {
    background-color: #F2F2F2;
}
.header img {
    padding: 30px 0 29px 124px;
}
header nav {
    float: right;
}
.header nav menu {
    margin: 34px 123px 35px 0;
    display: flex;
    gap: 30px;
    list-style: none;
}
header nav menu a {
    color: #000;
    font-weight: 400;
    text-decoration: none;
}
main .breadcrumb {
    align-items: center;
    gap: 0.8rem;
    padding-top: 32px;
    margin-bottom: 14px;
    margin-left: 120px;
}
main .breadcrumb a {
    color: #3C4858;
    margin: 2px;
    text-decoration: none;
    
}
main .breadcrumb span {
    color: #8A9399;
}

main header {
    background-color: black;
    color: white;
    padding: 20px 0 45px 100px;
}
main header h1 {
    font-size: 40px;
    margin-bottom: 12px;
    font-weight: 800;
    margin-top: 0%;
}

main .filtros {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
    justify-content: center;
}

main .filtros a {
    border: solid 1px  #8A9399;
    text-decoration: none;
    color: #8A9399;
    padding: 10px 20px;
    border-radius: 5px;
}

main .filtros a:hover {
    background-color: #1a73e8;
    color: #fdfdfd;
}
main .conteudo h2 {
    font-size: 26px;
    margin-top: 100px;
    font-weight: 600;
}
main .conteudo h2 small {
    font-size: 16px;
    font-weight: 400;
    color: #8A9399;
}
.livros {
    display: flex;
    padding: 0;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.livros .livro {
    display: flex;
    width: 30%;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row;
}
.livros .livro figure {
    margin-left: 18px;
}
.livros .livro figure img {
    margin-top: -26px;
    margin-left: 0px;
}
.livros .livro .right {
    flex-direction: column;
    margin-top: 0px;
    width: auto;
    line-height: 140%;
    margin-left: 20px;
}
.livros .livro .right strong {

}
.livros .livro .right div {
    margin-top: 5px;
}
.livros .livro .right .categorias div {
    color: #8A9399;
    font-size: 14px;
    height: 300px;
}
footer {
    text-align: center;
    margin-top: 154px;
    height: 56px;
}

footer img {
    margin-top: 16px;
}