@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: Inter, sans-serif;
    margin: 0;
}

/** aqui será somente a formação da header */
header{
    background: #f2f2f2;
}
header img{}
header nav{}
header nav menu{
    list-style: none;
    gap: 40px;
}
header nav menu li{}
header nav menu li a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

/** Seção principal de conteúdo */
main{}
main .breadcrumb{
    padding-top: 32px;
    padding-bottom: 14px;
}
main .breadcrumb a{}
main .breadcrumb span{}

main header{}
main header h1{}
main header small{}

main .filtros{}
main .filtros a{
    color: #8A9399;
    border: 1px solid;
    padding: 5px 10px;
    margin-right: 10px;
    text-decoration: none;
}
main .filtros a:hover{
    background-color: #2f80ed;
    color: white;
}

main .conteudo{}
main .conteudo h2{}
main .conteudo h2 small{}

.livros{
    margin-top: 32px;
    list-style: none;
    padding: 0;
}
.livros .livro{
    border: 1px solid #8A9399;
    padding: 15px 18px;
    border-radius: 5px;
}
.livros .livro figure{}
.livros .livro .right{}
.livros .livro .right div:nth-child(3),
.livros .livro .right a{
    color: #8A9399;
}

footer{
    text-align: center;
}
