.left{
    padding: 32px;
    max-width: 233px;
}
.top{
    flex-direction: column;
    gap: 48px;
}


menu{
    padding: 0;
    list-style: none;
    gap: 8px;
}

menu li a{
    gap: 12px;
    padding: 8px;
}
.logo{
    margin: 0;
}

.seus-amigos{
    gap: 20px;
}
.seus-amigos h3{
    margin: 0;
}
.seus-amigos .grupo{
     gap: 8px;
}

.grupo img{
    width: 30px;
    height: 30px;
}

.principal menu img{
    width: 14px;
    height: 20px;
}

.baixo{
    margin-top: 210px;
    gap: 10px;
}

.baixo h3{
    margin: 0;
}

.baixo li :nth-child(2){
    
}