.left{
    width: 240px;
    height: 933px;
    justify-content: space-between;
}
.top{
    flex-direction: column;
    gap: 48px;
}

menu{
    padding: 0;
    list-style: none;
    gap: 8px;
}

menu li a{
    gap: 12px;
    padding: 8px;
}
.logo{
    margin: 0;
}

.seus-amigos{
    gap: 20px;
}
.seus-amigos h3{
    margin: 0;
}
.seus-amigos .grupo{
     gap: 8px;
}

.grupo img{
    width: 30px;
    height: 30px;
}

.principal menu img{
    width: 14px;
    height: 20px;
}

.baixo{
    
    gap: 10px;
}

.baixo h3{
    margin: 0;
}

.direita{
    width: 296px;
    height: 933px;
    padding: 32px 24px;
    max-width: 296px;
}

.topo{
    width: 296px;
    
}

.links{
    justify-content: space-between;
}
.perfil{
    gap: 24px;
    padding: 0px 16px;
}
.perfil figure{
    margin: 0px;
    margin-top: 15px;
}

.grafico figure{
    margin: 0px;
    margin-top: 20px;
}

.grafico p{
    margin: 0px;
}

.agenda{
    margin-top: 20px;
}

.seguir{
    color: #ffff;
    background-color: #2F80ED;
    padding: 4px 8px;
    gap: 10px;
    border: none;
    border-radius: 2px;
}

.horarios {
    gap: 16px;
    padding: 16px 12px;
}

.border{
    border-bottom: 0.5px solid rgb(195, 195, 195);

}
.categoria{
    gap:8px;
    
}

.categoria img{
    width: 40px;
    height: 40px;
}

.categoria span{
    color: gray;
}
.direita h3{
     margin: 0px;
}

.mais{
    background-color: rgba(191, 218, 255, 0.25);
    border: none;
    color: #2F80ED;
    width: 100%;
    padding:  8px 12px 8px 12px;
    margin-top: 12px;
}



