body{
    background: #e4e2e2;
}
.card{
    background: #ffff;
    padding: 50px 50px;
    margin-top: 0;
    margin-left: 300px;
    margin-right: 300px;
}
hr{
    margin-top: 30px;
    border-color:#aaa;
    box-sizing:border-box;
    width:100%; 
}
.card figure{
    margin: 10px;
    margin-top: 0;
    float: left;
}
.card figure img{
    width: 100px;
}
  
.card .container-button{
    text-align: right;
}
.card .container-button button{
    border: 0;
    background: #21abc2;
    color: #ffff;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}
.card .right{
    margin-top: 0;
    font-family: inter;
    line-height: 1;
}
small{
    font-size: 15px;
    font-weight: 200;
}
h3{
    font-size: 15px;
    font-weight: 500;
    color: #21abc2;
}
h1{
    margin-left: 30%;
    margin-top: 40px;
    margin-bottom: 40PX;
    font-size: 30px;
    font-family: inter;
    font-weight: 300;
}