@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
    font-family: Inter;
    margin: 0;
    background-color: #FFF;
}

header{
    background: #f2f2f2;
}
header img{

}
header nav{

}
header nav menu{
    list-style: none;
    gap: 40px;
}
header nav menu li{

}
header nav menu li a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

main{

}
main .breadcrumb{
    padding: 24px 0;
    
}
main .breadcrumb a{

}
main .breadcrumb span{

}
main header{
    padding: 30px;
    background-color: #222222;
}
main header h1{
    font-size: 40px;
    color: #FFF;
}
main header small{
    font-size: 16px;
    color: #E5E9F2;
}

main .filtros{
    padding-top: 20px;
}
main .filtros a{ 
    border: 1px solid;
    color: #8A9399;
    padding: 5px 10px;
    margin-right: 10px;
    text-decoration: none;
}
main .filtros a:hover{
    background-color: #2F80ED;
    color: #FFF;
}

main .conteudo{
    margin-top: 64px;
}
main .conteudo h2{
    font-size: 26px;
    color: #1f2d3d;
}
main .conteudo h2 small{
    font-size: 16px;
    color: #8A9399;
    margin-left: 20px;
    font-weight: normal;
}

.livros{
    margin-top: 32px;
    list-style: none;
    padding: 0;
}
.livros .livro{
    border: 1px solid #8A9399;
    padding: 15px 18px;
    border-radius: 5px;
}
.livros .livro figure{
    width: 40%;
}
.livros .livro .right strong{
    font-size: 16px;
}
.livros .livro .right div:nth-child(3),
.livros .livro .right .a{
    color: #8A9399;
}

footer{
    text-align: center;
}