body{
    font-family: Roboto;
}
.background-image{
    background-image: url(imagens/karate.webp);
    color: white;
    background-repeat: no-repeat;
    padding: 1%;
    background-size: 1000px, 700px;
    width: 700px;
    height: 450px;
}