body{
    background-color: rgb(255, 236, 172);
}
section{
    width: 640px;
    height: 350px;
    margin-block: 20px;
}
.box1{
    background-image: url(../img/box1.jpg);
}

.box2{
    background-image: url(../img/box2.jpg);
   
}

.box3{
    background-image: url(../img/box3.jpg);
   
}

.box4{
    background-image: url(../img/box4.jpg);
    
}

.box5{
    background-image: url(../img/box5.jpg);
  
}

.box6{
    background-image: url(../img/box6.png);
    
}

.box7{
    background-image: url(../img/box7.jpg);
   
}

.box8{
    background-image: url(../img/box8.jpg);
    
}
