body{
    font-family: Roboto;
}
.title{
    background-image: url();
}
.cristo-redentor{
    background-image: url();
}
.machu-picchu{
    background-image: url();
}
.chichen-itza{
    background-image: url();
}
.coliseu{
    background-image: url();
}
.ruinas-de-petra{
    background-image: url();
}
.taj-mahal{
    background-image: url();
}
.grande-muralha{
    background-image: url();
}
.cesimar{
    background-image: url();
}