.card {
    background-color: #fff;
    padding: 12px;
    width: 270px;
    height: 35px;
    border-radius: 12px;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.card img {
    padding: 12px;
    border-radius: 20px;
    margin-right: 8px;
}
.card .azul-claro {
    background: var(--Light-Opacity, rgba(191, 218, 255, 0.25));
}

.card .azul-escuro {
    background-color: #2F80ED;
}

.card div:nth-child(1) {
    font-size: 12px;
    font-weight: 600;
}

.card span {
    font-size: 12px;
}

.card .destacar {
    font-weight: 600;
}

.card .pontos {
    gap: 5px;
    margin-left: 140px;
    flex-direction: column; 

}

.card .ponto {
    background-color: #000;
    height: 5px;
    width: 5px;
    border-radius: 10px;
}
.grupo-card-1 {
    gap:13px;
    flex: 1 0 0;
}

.card h2 {
    font-size: 16px;
    font-weight: 500;
}