body {
    font-family:"Inter", sans-serif;
    background-color: #fff;
}
.centralizar-horizontal {
    justify-content: center;
}

.centralizar-vertical {
    align-items: center;
}

.flex {
    display: flex;
}

.centralizar {
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1400px;
    background-color: aliceblue;
    padding: 32px;

}

.alinhar-extremidades {
    justify-content: space-between;
}

.coluna {
    flex-direction: column;
}

.gap {
    gap: 24px;
} 
.gap-1 {
    gap: 18px;
}

.cinza {
    color: #5F5F5F;
}

.azul {
    color: #2667BF;
}

h3 {
    font-size: 16px;
    font-weight: 500;
}