body{
    font-family: inter;
}

.banner{
    background-color: #2F80ED;
    background-image:  url(imgs/Vector.png);
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    padding: 20px 24px;
    width: 840px;
}

.banner h1{
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 16px;
    max-width: 80%;
}

.banner small{
    text-transform: uppercase;
}

.banner a{
    background: #202020 no-repeat center right;
    background-image: url(imgs/btn\ \(1\).png);
    border-radius: 40px;
    color: #ffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400px;
    padding: 8px 12px;
    padding-right: 44px;
    text-decoration: none;
}
