@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: Inter;
    margin: 0;
}

/** 
AQUI SERÁ SOMENTE A FORMATACAO DA HEADER
******/

header{
    background: #F2F2F2;
}
header img{}

header nav{}
header nav menu{
    list-style: none;
    gap: 40px;
}
header nav menu li{}
header nav menu a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}


/** Seção principal de conteúdo */

main{}
main .breadcrumb{
    padding-top: 32px;
    padding-bottom: 14px;
}
main .breadcrumb a{}
main .breadcrumb span{}

main header{}
main header h1{}
main header small{}
main header div{
    margin-bottom: 43px;
}
main .filtros{
    padding-top: 20px;
}
main .filtros a{
    border: 1px solid #8A9399;
    color: #8A9399;
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 10px;
}
main .filtros a:hover{
    background-color: #2f80ed;
    color: #fff;
}

main .conteudo{
    margin-top: 64px;
}
main .conteudo h2{
    font-size: 26px;
    color:  #1f2d3d;
}
main .conteudo h2 small{
    font-size: 16px;
    color: #8A9399;
    font-weight: 400;
    margin-left: 10px;
}

.livros{
    margin-top: 32px;
    list-style: none;
    padding: 22px;
}
.livros .livro{
    border: 1px solid #8A9399;
    padding: 15px 18px;
    border-radius: 5px;
    max-width: 30%;
}
.livros .livro figure{
    width: 40%;
}
.livros .livro .right{}
.livros .livro .right div:nth-child(3),
.livros .livro .right a{
    color: #8A9399;
}


footer{
    text-align: center;
}


