body {
    background-color: #FFFFFF;
    font-family: 'Inter';
    margin: 0;
}

.flex {
    display: flex;
}

.centralizar {
    justify-content: center;
    align-items: center;
}

.alinhar-esquerda {
    justify-content: flex-start;
}
