body {
    background-color: #FFFFFF;
    display: flex;
    font-family: 'Inter', serif;
    margin: 0;
    padding-top: 20px;
}

.container {
    gap: 24px;
    padding: 0 32px;
}

.flex {
    display: flex;
}

.centralizar {
    justify-content: center;
    align-items: center;
}

.alinhar-esquerda {
    justify-content: flex-start;
}

.alinhar-vertical {
    align-items: center;
}

.alinhar-horizontal {
    justify-content: center;
}

.alinhar-coluna {
    flex-direction: column;
}

.alinhar-extremidades {
    justify-content: space-between;
}