body {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', serif;
    gap: 24px;
    margin: 0;
    padding-top: 20px;
}

.flex {
    display: flex;
}

.centralizar {
    justify-content: center;
    align-items: center;
}

.alinhar-esquerda {
    justify-content: flex-start;
}

.alinhar-vertical {
    align-items: center;
}

.alinhar-horizontal {
    justify-content: center;
}