body{
    font-family: Inter;
    display: flex;
    flex-direction: column;
}
/*Aqui será SÓ O HEADER */
header{
    display: flex;
    background-color: #F2F2F2;
    font-family: Inter;
    font-size: 16px;
    align-content:right;
    height: 88px;
    width: 1440px;
}
header img{}
header nav{
    align-content: right;
}
header nav menu{
    display: flex;
    position: 80%;
    margin: 5px;
    padding:5px;
}
header nav menu li{
    list-style-type: none;
}
header nav menu li a{
    text-decoration: none;
    color:black;
    margin: 10px;
}

/* Seção principal de conteúdo*/

main{

}
main .breadcrumb{}
main .breadcrumb a{
    text-decoration: none;
    color: #3C4858;
}
main .breadcrumb span{}

main .head{
    background-color: #222222;
    color: #ffffff;
    padding: 
}
main header h1{}
main header small{}

main .filtros{}
main .filtros a{}
main .filtros a:hover{}

main .conteudo{}
main .conteudo h2{}
main .conteudo h2 small{  // alguma coisa 30% da largura // }

.livros{}
.livros .livro{}
.livros .livro figure{}
.livros .livro .right{}



footer{
    text-align: center;
}





.block{display:block}


/*

E          = 1
class      = 10
#id        = 100
inline     = 1000
!important = 10000000000

*/

