.card{
    margin-top: 30px;
    width: 271.333px;
    background-color: #FFF;
    padding: 12px;
    border-radius: 8px;
}
.card div:nth-child(1){
    font-size: 12px;
    font-weight: 700;
}
.card span{
    font-size: 12px;
    color: #202020;
}
.card .pontos{
    gap: 5px;
    margin-left: 150px;
    flex-direction: column; 
}
.card .ponto{
    background-color: #000;
    height: 5px;
    width: 5px;
    border-radius: 10px;
}
.card img {
    padding: 12px;
    border-radius: 20px;
    margin-right: 8px;
}
.card .azul-escuro{
    background-color: #2F80ED;
}
.card .azul-claro{
    background-color: #BFDAFF40;
}
.card .cinza{
    color: #5F5F5F;
}
.card .blue{
    color: #2667BF;
}
.card .negrito{
    font-weight: 600;
}
.grupo-card-1 {
    gap:13px;
    flex: 1 0 0;
}
