.banner{
    margin: 50px;
    width: 840px;
    border-radius: 10px;
    background: #2F80ED;
    padding: 20px 24px;
    color:#FFF;
    background-image: url(../../imagens/estrela.svg);
    
}
.banner small{
    font-size: 12px;
    text-transform: uppercase;
}
.banner h1{
    max-width: 528px;
    margin: 16px 0px ;
    font-size: 24px;
    font-weight: 600;
}
.banner a {
    text-decoration: none;
    color: #FFF;
    border-radius: 40px;
    padding: 8px 12px;
    font-weight: 500;
    background: #202020;
    padding-right: 44px;
    max-width: 180px ;
    gap: 12px;
}

.banner a span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #fff url(../../imagens/play.svg) no-repeat center;
    background-size: 50%;
    border-radius: 50%;
    margin-left: 8px; /* Espaço entre o texto e o ícone */
}
