.jogos-interesse{
    min-width: 880px;
    background-color: white;
    border-radius: 20px;
}
.jogos-interesse .header{

}


.jogos-interesse .container-jogos{
    border-radius: 6px;
    background: #FFF;
    padding: 20px 24px;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}
.jogos-interesse .jogos{
    width: 100%;
}
.jogos-interesse .jogos .jogos-title{
    text-align: left;
}
.jogos-interesse .jogos .conteudo{
    padding-bottom: 24px;
}
.jogos-interesse .jogos .jogo{}
.jogos-interesse .jogos .tag{
    font-size: 12px;
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    border-radius: 24px;
    background: rgba(191, 218, 255, 0.25);
    color: #2F80ED;
}