.rigth{
    max-width: 296px;
}
.left{
    max-width: 233px;
}
.topo{
    gap: 48px;
}
.listagem-jogos img, .seus-amigos img, .jogo img{
    width: 24px;
    height: 24px;
}
.topo section:not(:last-child){
    margin-bottom: 32px;
}
.links{
    justify-content: space-between;
}
menu{
    padding: 0;
    list-style: none;
    gap: 8px;
}
menu li a{
    gap: 12px;
    padding: 8px;
}
menu li a img{
    height: 14px;
}
.cor{
    color: #2F80ED;
}
.logo{
    margin: 0;
}
.bloco-barras{
    align-items: end;
    gap: 12px;
}
.bloco-barras .barra{
    width: 40px;
}
.azul-claro{
    border-radius: 4px 4px 0px 0px;
    background:#BFDAFF;
}
.azul-medio{
    background-color: #68A8FF;
}
.azul-escuro{
    background-color: #2F80ED;
}
.quarenta{
    height: 40px;
}
.cinquenta{
    height: 50px;
}
.quarenta-e-seis{
    height: 46px;
}
.nove{
    height: 9px;
}
.doze{
    height: 12px;
}
.vinte{
    height: 20px;
}
.dezoito{
    height: 18px;
}
.vinte-oito{
    height: 28px;
}
.link-seguir{
    color: #ffff;
    background-color: #2F80ED;
    padding: 4px 8px;
    gap: 10px;
    border: none;
    border-radius: 2px;
}
.listagem-jogos div{
    column-gap: 8px;
}
h3, .top .principal span{
    size: 19px;
}
.seus-amigos strong{
    size: 17px;
}
.seus-amigos span{
    size: 15px;
    color: #7E7E7E;
}
.seus-amigos .flex{
    column-gap: 8px;
}
.seus-amigos {
    row-gap: 20px;
}
.baixo menu{
    column-gap: 12px;
}
.listagem-jogos strong{
    size: 15px;
}
.listagem-jogos div .flex span{
    size: 10px;
    color: #7E7E7E;
}
.listagem-jogos .centralizar-vertical{
    border-bottom: 1px solid #D8D8D8;
    padding: 16px;
}
.agenda header img{
    align-items: end;
}
.mais{
    background-color: rgba(191, 218, 255, 0.25);
    border: none;
    color: #2F80ED;
    width: 100%;
    padding:  8px 12px 8px 12px;
    margin-top: 12px;
}