.rigth{
    max-width: 200px;
}

.topo{
    gap: 48px;
}

.topo section:not(:last-child){
    margin-bottom: 32px;
}

.links{
    justify-content: space-between;
}

menu{
    padding: 0;
    list-style: none;
    gap: 8px;
}

menu li a{
    gap: 12px;
    padding: 8px;
}

.logo{
    margin: 0;
}
.bloco-barras{
    align-items: end;
    gap: 12px;
}
.bloco-barras .barra{
    width: 40px;
}
.azul-claro{
    border-radius: 4px 4px 0px 0px;
    background:#BFDAFF;
}
.azul-medio{
    background-color: #68A8FF;
}
.azul-escuro{
    background-color: #2F80ED;
}
.quarenta{
    height: 40px;
}
.cinquenta{
    height: 50px;
}
.quarenta-e-seis{
    height: 46px;
}
.nove{
    height: 9px;
}
.doze{
    height: 12px;
}
.vinte{
    height: 20px;
}
.dezoito{
    height: 18px;
}
.vinte-oito{
    height: 28px;
}