.section1{
    background-image: url(styles/austria-6934186_640.jpg);
    width: 500px;
    height: 150px;
}
.section2{
    background-image: url(styles/man-8458549_640.jpg);
    width: 500px;
    height: 150px;
}
.section3{
    background-image: url(styles/old-8235289_640.jpg);
    width: 500px;
    height: 150px;
}
.section4{
    background-image: url(styles/pattern-8934361_640.jpg);
    width: 500px;
    height: 150px;
}
.section5{
    background-image: url(styles/san-francisco-7008147_640.jpg);
    width: 500px;
    height: 150px;
}
.section6{
    background-image: url(styles/sea-7456037_640.jpg);
    width: 500px;
    height: 150px;
}
.section7{
    background-image: url(styles/the-eiffel-tower-1744574_640.jpg);
    width: 500px;
    height: 150px;
}
.section8{
    background-image: url(styles/water-2600008_640.jpg);
    width: 500px;
    height: 150px;
}