body{
    font-family: Inter;
}
h1{
    margin-bottom: 12px;
}
.card{
    display: flex;
    float: left;
    width: 400px;;
    height: 200px;
}
.card .figure{
    height: 128px;
    width: 128px;
    float: left;
}
.card .p{
    display: flex;
    float: left;
    height: 130px;
    width: 500px;
}