body{
    font-family: Inter;
    padding: 0;
    margin: 0;
    border: 0;
}
h1{
    margin-bottom: 12px;
}
.card{
    display: flex;
    float: left;
    width: 420px;;
    height: 200px;
    margin: 0;
    margin: 0;
    padding: 0;
    border: 0;
}
.card .figure{
    height: 128px;
    margin: 0;
    padding: 0;
    border: 0;
}