.box1 {
    background-color: deeppink; 
    padding: 20px;
    margin: 10px;
}

.box2 {
    background-color: aqua; 
    padding: 20px;
    margin: 10px;
}

.box3 {
    background-color: cornflowerblue; 
    padding: 20px;
    margin: 10px;
}
