body{
    font-family: Inter;
    margin: 0;
}
header{
    background: #F2F2F2;
    height: 88px;
    display: flex;
}
header img{}
header nav{
    display: inline-block;
    float: right;
}
header nav menu{
    gap: 40px;
    list-style: none;
}
header nav menu li{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
}
header nav menu li a{
    text-decoration: none;
    color: #000000;
}
menu{
    display: flex;
}
main{}
main .breadcrumb{
    font-size: 16px;
    font-weight: 300;
    line-height: 25.6px;
    text-align: left;
    padding: 24px 0px;
}
main .breadcrumb a{
    color: #3C4858;
    text-decoration: none;
}
main .breadcrumb span{
    color: #8A9399;
}
main header{

    height: 160px;
    top: 160px;
    background: #222222;
    text-align: left;
}
main header h1{
    font-size: 40px;
    font-weight: 800;
    line-height: 64px;
    color: #F9FAFC;
}
main header small{
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #E5E9F2;
}
main .filtros{
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: center;
    display: block;
    padding-top: 20px;

}
main .filtros a{
    text-decoration: none;
    color: #8A9399;
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid;
}
main .filtros a:hover{
    color: #FFFFFF;
    background: #2F80ED;
}

main .conteudo{}
main .conteudo h2{
    font-size: 26px;
    font-weight: 600;
    line-height: 36.4px;
    text-align: left;
    color: #1F2D3D;

}
main .conteudo h2 small{
    font-size: 16px;
    font-weight: normal;
    line-height: 25.6px;
    text-align: left;
    margin-left: 20px;
}

.livros{
    margin-top: 32px;
    padding: 0;
    list-style: none;
}
.livros .livro{
    list-style: none;
    border: 1px solid #8A9399;
    padding: 15px 18px;
    border-radius: 5px;
}
.livros .livro figure{}
.livros .livro .right{}
.livros .livro .right div:nth-child(3),
.livros .livro .right a{
    display: inline-block;
    color: #8A9399;

}
footer{
    text-align: center;
    width: 1447px;
    height: 52px;
    top: 2538px;
    left: -4px;
    background: #F9FAFC;
}
.block{
    display: block;
}

/**
E = 1
class = 10
id = 100
inline = 1000
inportant = 100000000

*/