body {
    font-family: "Ubuntu", sans-serif;
    background-color: #d3d3d3;
}   

body h1 {
    text-align:center;
    color: #6d6d6d;
    font-weight: 100;
    margin-bottom: 100px;
}

.card {
    background-color: #FFFF;
    padding: 30px;
    border-bottom: 1px solid #d3d3d3;
    margin-left: 10%;
    margin-right: 10%;

    }

    .card .right small{
        color: #aaa;

    }

    .card .right h3{
        font-weight: 300;
        color: #21abc7;

    }

    .card .right p{
        font-weight: 100;

    }

    .card figure{
        padding: 10px;
        float: left;
        margin: 0; 

    }

    .card figure img{
        width: 100px;

    }
    .card .container-button{
        float: right;

    }
    .card .container-button button{
        padding: 5px;
        background: #21ABC7;
        color: #fff;
        border: 0;

    }

