body{
    font-family: Inter;
}

.card-container-1{
    display: flex;
    gap: 10px;
}

.flex{
    display: flex;
    align-items: center;
}

.card-1 {
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 14px 42px rgba(8, 15, 52, 0.06);
    width: 271.333px;
    gap: 10px;
}

.card-1 .gray{
    color: #5F5F5F;
}

.card-1 .blue{
    background: var(--Light-Opacity, rgba(191, 218, 255, 0.25));
}

.card-1 div { flex: 1; }

.card-1 span {
    width: 40px;
    height: 40px;
    background: #2F80ED;
    border-radius: 50%;
    justify-content: center;
}

.card-1 strong {
    color: #2667BF;
    font-size: 12px;
}

.card-1 div div {
    font-size: 12px;
    color: #202020;
    font-weight: 400;
}




