.table-container {
    padding: 20px 24px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.table {
    width: 100%;
}

.table th, .table td {
    padding: 12px 20px;
    text-align: left;
}

.gray {
    color: #3F3F3F;
    font-size: 12px;
}

.score {
    color: #202020;
    font-size: 12px;
}

.jogo{
    gap: 10px;
}

.jogo img{
    border-radius: 50px;
    width: 27px;
}

.cursos{
    color:  #202020;   
    font-size: 14px;
}

.information{
    color:  #5F5F5F;
    font-size: 11px;
}