@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: Inter;
    margin: 0;
}

header{
    background: #F2F2F2;
}

header nav menu{
    list-style: none;
    gap: 40px;
}

header nav menu a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

main .breadcrumb{
    padding-top: 32px;
    padding-bottom: 14px;
}
main .breadcrumb a{}
main .breadcrumb span{}

main header{}
main header h1{}
main header small{}

main .filtros{}
main .filtros a{}
main .filtros a:hover{}

main .conteudo{
    margin-top: 64px;
}
main .conteudo h2{
    font-size: 26px;
}
main .conteudo h2 small{
    font-size: 16px;
    margin-top: 20px;
}

.livros{
    margin-top: 32px;
    list-style: none;
    padding: 0;
    border-radius: 5px;
}
.livros .livro{
    border:  1px solid #8A9399;
    padding: 15px 18px;
}
.livros .livro figure{}
.livros .livro .right{}
.livros .livro .right div:nth-child(3),
.livros .livro .right a{
    color: #8A9399;
}


footer{
    text-align: center;
}