.card2{
    width: 268px;
    padding: 12px;
    display: flex;
    margin-left: -800px;
    margin-top: 10px;
}
.card2 div{
    margin-left: 20px;
}
.card2 span{
    font-size: 12px;
    margin-left: 30px;
    height: 15px;
    padding: 12px;
    border-radius: 8px;
    background: rgba(191, 218, 255, 0.25);
    color: #2667BF;
}
.card2 p{
    color: #202020;
    margin-left: 34px;
    font-weight: 600;
    width: 285px;
}

.card2 div div{
    border-radius: 50px;
    background: #D9D9D9;
    width: 244px;
    height: 6px;
    margin-left: 35px;
}
.card2 div div div{
    margin-left: 0;
    background: #2F80ED;
    width: 125px;
}