.card1{
    width: 272px;
    padding: 12px;
    display: flex;
    margin-left: -400px;
}
.card1 div{
    margin-left: 60px;
}
.card1 a:hover{
    background-image: url(../img/notification.svg);
    background-color: #2667BF;
    background-repeat: no-repeat;
    background-position: center;
}
.card1 a{
    background-color: #BFDAFF40;
    padding: 12px;
    border-radius: 100%;
    margin-left: -10px;
    position: absolute;
    top: 390px;
    background-position: center;
}
.card1 strong{
    color: #5F5F5F;
}
.card1 strong:hover{
    color: #2667BF;
}

.card1 div div{
    color: #5F5F5F;
}
.card1 div div:hover{
    color: black;
    font-weight: 600;
}

.card1 div div div{
    margin-left: -2px;
}
.card1 div div{
    margin-left: 40px;
}