body {
  background-color: lightgray;
}

a {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

div {
  background-color: #ffcd04;
  text-align: center;

  padding: 100px;
}

figcaption {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

div figure {
  display: inline-block;
  width: 600px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: thin;
}

div figure .main-header {
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  font-style: normal;

  font-size: 50px;

  color: white;
}

section {
  padding-left: 100px;
  padding-right: 100px;

  display: inline-block;
  text-align: center;
}

section figure {
  display: inline-block;

  text-align: center;
  vertical-align: top;

  background-color: white;

  width: 300px;
  height: 600px;
}

section figure span {
  text-decoration: none;
}

section figure img {
  vertical-align: center;
  width: 200px;

  padding: 50px;
}

section figure p {
  font-size: 15px;
  padding: 20px;

  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: thin;

  color: #4f565e;
}

section figure h3 {
  font-size: 40px;
  margin: 0px;

  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

section figure .chrome {
  background-color: #f70c2a;
}
section figure .search {
  background-color: #006fec;
}
section figure .maps {
  background-color: #00991a;
}

section figure .header-chrome {
  color: #f70c2a;
}
section figure .header-search {
  color: #006fec;
}
section figure .header-maps {
  color: #00991a;
}
