.pesquisa {
    display: flex;
    padding: 20px 16px;
    gap: 12px;
    width: 840px;

    background-image: url(../organizaçãocss/img/lupa.png);
    background-repeat: no-repeat;
    background-position: 10px 18px;

    border-radius: 8px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
    padding-left: 36px;
}
