
.title{
    color: #2667BF;
}

.card-1 {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 8px;
    max-width: 271px;
}

.icon-container {
    width: 40px;
    height: 40px;
    background-color: #2F80ED;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.icon {
    width: 16px;
    height: 16px;
}
