
.container-jogos {
    margin-top: 20px;
    padding: 20px 22px;
    height: 178px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 14px 42px 0px rgba(8, 15, 52, 0.06);
}
.header {
    width: 840px;
    height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -12px;
}
.header a {
    font-size: 14px;
    font-weight: 500;
    color: #2667BF;
}
.tabela-jogos {
    width: 840px;
    margin-top: 20px;
}
.tabela-jogos th, .tabela-jogos td {
    text-align: left;
    font-size: 14px;
    color: #333;
}

